name: Build
on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize
  push:

jobs:
  build:
    if: contains(github.event.head_commit.message, '[skip ci]') == false

    runs-on: ubuntu-slim

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Package install
      run: |
        sudo apt update
        sudo apt install nasm
        sudo apt install python3-iso3166 python3-phonenumbers

    - name: Build
      run: |
        make clean all

    - name: Validate
      run: |
        ./ci_validate.py

    - name: Upload binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: country.sys
        path: country.sys
        retention-days: 30
