name: Build
on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize
  push:

jobs:
  build:
    if: contains(github.event.head_commit.message, '[skip ci]') == false

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Package install
      run: |
        sudo add-apt-repository ppa:tkchia/build-ia16
        sudo apt update
        sudo apt install gcc-ia16-elf libi86-ia16-elf nasm upx
        sudo apt install python3-iso3166 python3-phonenumbers

    - name: Build
      run: |
        make clean all

    - name: Validate
      run: |
        ./ci_validate.py
